body{
    background-color:rgba(8, 19, 214, 0.75);
    background-size: cover;
}
.userDiv {
    padding-top: 7%;
}
input {
    margin-top: 7px;
}
span {
    color: red;
}
body,html{
    height: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.2s;
    animation-name: animatetop;
    animation-duration: 0.2s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
#accept {
    color: #00ff00;
    margin-left: 40%;
    user-select: none;
    font-size:20px;
}
#deny {
    margin-left: 10%;
    color: #ffff00;
    user-select: none;
    font-size:20px;
}
#deny:hover {
    cursor: default;
    color: #000;
}
#accept:hover {
    cursor: default;
    color: #000;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    user-select: none;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #0080ff;
    color: white;
}
.modal-body {
    padding: 2px 16px;
    background-color: #0fa;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #0080ff;
    color: white;
}

table{
	right:37%;
	position: absolute;
	border-collapse:collapse;
	background-color: #4AAAAA;
	padding: 5px 10px;
}
tr{
	border-right: 6px solid #7F00FF;
}
th{
	padding: 5px 16px;
	background-color: #483d8b;
	color:lightgray;
}
td{
	padding: 5px 10px;
}
.a{
	background-color: #E0FFFF;
}
.b{
	background-color: #D3D3D3;
}
.dropdown-content{
	display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    max-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
a:hover{
	background-color:#ddd;
}
.drop-trigger{
	display:block;
	font-size: 16px;
    padding: 14px 19px 12px 16px;
    border:none;
}
#sendTests{
    position: absolute;
    right: 60%;
}
container{
    position:relative;
    display:block;
    right:10%;
    height:55px;
}